<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="SqlServerConnectionString" value="Data Source=DESKTOP-3JVR9QT\SQLEXPRESS;Initial Catalog=NaderWCSDB;Integrated Security=True"/>-->
    <!--<add key="WMSSqlServerConnectionString" value="Data Source=172.16.1.65;Initial Catalog=data_QDZH;User Id=sa;Password=bqs"/>
    <add key="SqlServerConnectionString" value="Data Source=172.16.1.65;Initial Catalog=ChohoWCSDB1;User Id=sa;Password=bqs" />-->
	<add key="WMSSqlServerConnectionString" value="Data Source=仓储事业部-吴杰\MSSQLSERVER2019;Initial Catalog=WWXBWCSDB;User Id=sa;Password=bqs" />
    <add key="SqlServerConnectionString" value="Data Source=LocalHost;Initial Catalog=DeLiLiKuWCSDB_WJ2;User Id=sa;Password=123456" />
	<add key="WCSTOWMSURL" value="http://10.192.14.190:8002/api/WCSToWMS/WCSToWMSTask"/>
	  
  </appSettings>
</configuration>