<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<DeviceData DeviceType="FZJ">
		<Data Name="FaultCodeIAddr" DataType="Input" Db="0" StartByteAdr="3" BitAdr ="3" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="EmergencyStopIAddr" DataType="Input" Db="0" StartByteAdr="0" BitAdr ="0" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="ManuAutoIAddr" DataType="Input" Db="0" StartByteAdr="0" BitAdr ="2" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="VertivalIAddr" DataType="Input" Db="0" StartByteAdr="0" BitAdr ="4" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="HorizontalIAddr" DataType="Input" Db="0" StartByteAdr="0" BitAdr ="5" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="PutMateriStretchIAddr" DataType="Input" Db="0" StartByteAdr="0" BitAdr ="6" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="PutMateriShrinkIAddr" DataType="Input" Db="0" StartByteAdr="0" BitAdr ="7" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="PalletForwardIAddr" DataType="Input" Db="0" StartByteAdr="1" BitAdr ="0" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="PalletBackIAddr" DataType="Input" Db="0" StartByteAdr="1" BitAdr ="1" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="CylinderHoldIAddr" DataType="Input" Db="0" StartByteAdr="1" BitAdr ="2" VarType="Bit" Count="1" DefaultValue="0"/>
		<Data Name="CylinderReleaseIAddr" DataType="Input" Db="0" StartByteAdr="1" BitAdr ="3" VarType="Bit" Count="1" DefaultValue="0"/>
	</DeviceData>
</configuration>